<div class="flex flex-col justify-center px-5 md:p-0">
  <div class="w-full md:w-3/4 lg:w-1/2 mx-auto flex flex-row">
    <div class="w-1/2 p-4">
      Hello! My name is Anouk de Graaf. I am a developer situated between
      Amsterdam and Utrecht! I have studied Creative Technology and Interaction
      Technology, where I have to do user research and to make cool innovative
      products. Last 2 years I have worked on multiple projects, where my focus
      was mainly on front-end development. <br />
      <br />
      If you want to know more about my expertises, take a look in my portfolio!
      <br />
      Interested in contacting me? Send me a message via LinkedIn!
    </div>
    <img class="w-1/2 object-contain" src="me2.jpg" />
  </div>
</div>
