.portfolio-item {
    transition: opacity 0.5s ease, transform 0.5s ease
}

.hide-item {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
    height: 0; 
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.show-item {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

