<div class="flex flex-col mx-auto w-full md:w-3/4 px-5 md:px-0 py-10">
  <p class="text-xl text-center text-gray-900 font-light">
    View the different projects I've done over the last years!
  </p>
  <div class="flex flex-row lg:justify-end lg:p-0 justify-center p-5">
    @for (filter of filters; track filter) {
    <button
      class="border border-blue-800 text-lg text-white p-1 mb-2
        {{ $first ? 'rounded-l-lg' : '' }}
        {{ $last ? 'rounded-r-lg' : '' }}
        {{ selectedFilter == filter ? 'bg-blue-600' : 'bg-blue-800' }}"
      (click)="filterData(filter)"
    >
      {{ filter }}
    </button>
    }
  </div>

  <div class="columns-1 md:columns-2 lg:columns-3 gap-4 md:p-0">
    @for (item of portfolioItems; track item.name) {
    <a routerLink="/portfolio/{{ item.weblink }}">
      <div
        class="portfolio-item rounded-lg border break-inside-avoid-column mb-4
      {{
          selectedFilter == 'All' || item.tags.includes(selectedFilter)
            ? 'show-item'
            : 'hide-item'
        }}"
      >
        <img src="images/{{ item.imgUrl }}" class="rounded-t-lg" />
        <div class="p-4">
          <p class="text-blue-900 text-xl font-bold">{{ item.name }}</p>
          @for (expertise of item.expertise; track expertise) {
          <span class="font-normal text-sm">{{ expertise }}</span>
          @if (!$last) {
          <span class="font-normal text-sm">, </span>
          } }
        </div>
      </div>
    </a>
    }
  </div>
</div>
