<div class="max-w-screen h-full">
  <div
    class="flex flex-row h-12 max-w-screen border-sky-50 border-b bg-sky-100 px-5 justify-between items-center"
  >
    <h1 class="text-sky-900 text-2xl">Anouk's Portfolio</h1>
    <nav class="flex flex-row">
      <ul>
        <li class="px-2">
          <a
            routerLink="/about-me"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >About me</a
          >
        </li>
        <li class="px-2">
          <a
            routerLink="/portfolio"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Portfolio</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <router-outlet />
</div>
